body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/* all start page id's and classes*/

#startPage{
    position: fixed;
    background-color: rgb(71, 71, 71);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}

#startPageContent{
    height: 30%;
    border: solid;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#startPageTitle{
    color: #E14B20;
    font-size: 30px;
}

#playerNameInput{

}

.playerInputBox{
    border-radius: 5px;
    margin: 10px;
    padding: 5px;

}

#startButtonArea{

}

#startButton{
    border: solid;
    padding: 15px;
    border-radius: 5px;
    background-color: #e14a20e0;
}

#startButton:hover{
    background-color: #d15f40e0;
    transform: scale(1.1);

}

.hide{
    display: none !important;
    transition-duration: 2s;
}



/* all start page id's and classes*/


/* all win and draw page id's and classes*/

#winPage{
    position: fixed;
    background-color: rgba(47, 47, 47, 0.911);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#winPageContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#drawPage{
    position: fixed;
    background-color: rgba(47, 47, 47, 0.911);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#drawPageContent{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#winResetButton{
    border: solid;
    margin: 15px;
    text-align: center;
    border-radius: 5px;
    width: 10rem;
    background-color: rgb(87, 87, 87);
}

#winResetButton:hover{
    transform: scale(1.05);
    background-color: rgb(121, 121, 121);
}

#drawResetButton{
    border: solid;
    margin: 15px;
    text-align: center;
    border-radius: 5px;
    width: 10rem;
    background-color: rgb(87, 87, 87);
}

#drawResetButton:hover{
    transform: scale(1.05);
    background-color: rgb(121, 121, 121);
}


/* end win and draw section*/

#informationBox{
    background-color: lightblue;
    border-radius: 20px;
    height: 45%;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#pageContainer{
    background-color: rgb(71, 71, 71);
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 5fr 15fr;;
}

.playerInfo{
    display: grid;
    padding: 15px;
    grid-template-rows: 3fr 2fr;
    text-align: center;
}



#informationArea{
    background-color: rgb(71, 71, 71);
    display: flex;
    padding-bottom: 35px;
    align-items: flex-end;
    justify-content: center;

}

#gameboardContainer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#gameBoard{
    background-color: rgb(156, 156, 156);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.gameBox{
    background-color: rgb(236, 236, 236);
    font-size: 35px;
    height: 7rem;
    width: 7rem;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
}

.gameBox:hover{
    background-color: rgb(199, 199, 199);

}